body{
            padding-top: 80px;
            padding-left:110px;
            padding-right: 20px;
            margin:0px;
            background-color: rgb(245, 244, 244);
        }


p{
            font-family: Arial;
        }
        .img{
            width:100%;
            display:inline-block;
            margin-right:10px;
            margin-bottom: 10px;
        
        }

        

        
         .title{
            font-weight:bold;
            font-size:18px;
            width:320px;
            line-height:28px;
            margin-bottom:5px;
            

        }
        .stats{
            font-size:14px;
            color:rgb(96,96,96);
            line-height: 2px;
        }
        .marq{
            color:rgb(96,96,96) ;
            font-size:14px;
            line-height: 15px;

            
        }
        
        

        .chann{
            width:46px;
            border-radius: 40px;
            margin-top: 13px;
            
        
            
        }

        
        .channel{
            display: inline-block;
            
            
            
    
        }
       
        .text{
            display: inline-block;
            margin-top: -12px;
    
        }
       
        .description{
            display:grid;
            grid-template-columns: 50px 300px;
        }
       

        .video-grid{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 16px;
            row-gap: 25px;
        }

        

        .header-section{
            height:55px;
            display:flex;
            flex-direction:row;
            justify-content: space-between;
            position:fixed;
            top:0;
            left:0;
            right:0;
            background-color: white;
            border:none;
            z-index: 100;

        }
        .left-section{
            margin-right:15px;
            display:flex;
             align-items: center;
             margin-left: -0.5px;
        }
        .middle-section{
    
            display: flex;
            align-items: center;
            flex:1;
            max-width:650px;
            margin-right:-30px;
        }
        .right-section{
            width:200px;
            display: flex;
            flex-shrink: 0px;
            align-items: center;
            justify-content: space-between;
            margin-right: 20px;
        }

        .youtube{
            height:23px;
            margin-left:35px;
           
        }
        .menu{
            margin-left:35px;
        }
        .search{
        
            flex:1;
            height:36px;
            font-size:16px; 
            border-width: 1px;
            border-color: rgb(192, 192, 192);
            border-radius: 20px;
            box-shadow: inset 0.3px 0.3px 3px rgb(0, 0, 0.05);
             border-style: solid;
             margin-right: -65px;

        }
        .search::placeholder{
            font-family: Arial;
            font-size: 16px;
            padding-left:13px;
        }
    
        .button-1{
            height:39px;
            width:66px;
            border-width: 1px;
            border-color: rgb(192, 192, 192);
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: white;
            box-shadow: inset 0.3px 0.3px 3px rgb(0, 0, 0.05);
             border-style: solid;
             margin-right: 10px;
            cursor: pointer;
            position:relative;
            
        }

        .button-1 .tooltip{
            position: absolute;
            background-color: rgb(127, 126, 126);
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 4px;
            bottom:-20px;
            opacity: 0;
            transition: opacity 0.15s;
            color:white;
        }
        .button-1:hover .tooltip{
            opacity:1;
        }
        .button-1:hover{
            background-color: rgb(251, 249, 249);
    
        }
        .button-2{
            height:40px;
            width:40px;
            border-radius: 20px;
            border:none;
            background-color: whitesmoke;
            cursor: pointer;
            position:relative;
             display: flex;
            align-items: center;
            justify-content: center;
    
        }
        .button-2:hover{
            background-color: rgb(241, 238, 238);
        }


        .button-2 .tooltip{
            position: absolute;
            background-color: rgb(127, 126, 126);
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 4px;
            bottom:-25px;
            opacity: 0;
            width:150px;
            transition: opacity 0.15s;
            color:white;
        
           
        }
        .button-2:hover .tooltip{
            opacity:1;
        }

        .upload{
            cursor: pointer;
            position:relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
             font-family: Arial;
             font-size: 14px;
        

        }
         .upload .tooltip{
           position: absolute;
            background-color: rgb(127, 126, 126);
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 3px;
            padding-bottom: 3px;
            border-radius: 4px; 
            bottom:-30px;
            opacity: 0;
             transition: opacity 0.15s;
            color:white;
           
         }
         .upload:hover .tooltip{
            opacity:1;
         }
        
        .Menu{
            cursor: pointer;
            position:relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
             font-family: Arial;
             font-size: 14px;
        

        }
         .Menu .tooltip{
           position: absolute;
            background-color: rgb(127, 126, 126);
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 3px;
            padding-bottom: 3px;
            border-radius: 4px; 
            bottom:-30px;
            opacity: 0;
             transition: opacity 0.15s;
            color:white;
           
         }
         .Menu:hover .tooltip{
            opacity:1;
         }
        

         .notification{
            cursor: pointer;
            position:relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
             font-family: Arial;
             font-size: 14px;
            
        

        }
         .notification .tooltip{
           position: absolute;
            background-color: rgb(127, 126, 126);
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 3px;
            padding-bottom: 3px;
            border-radius: 4px; 
            bottom:-30px;
            opacity: 0;
             transition: opacity 0.15s;
            color:white;
            margin-left: -20px;
           
           
         }
         .notification:hover .tooltip{
            opacity:1;
         }
        

        .main-channel{
            height:40px;
            width:40px;
            border-radius: 22px;
        }
        .Main-channel{
            cursor: pointer;
            position:relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
             font-family: Arial;
             font-size: 14px;
        

        }
         .Main-channel .tooltip{
           position: absolute;
            background-color: rgb(127, 126, 126);
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 3px;
            padding-bottom: 3px;
            border-radius: 4px; 
            bottom:-30px;
            opacity: 0;
             transition: opacity 0.15s;
            color:white;
           
         }
         .Main-channel:hover .tooltip{
            opacity:1;
         }
        

        .video-time{
            background-color: black;
            color:white;
            font-family: Arial;
            position: absolute;
            bottom:20px;
            right:8px;
            font-size: 14px;
            padding-left:5px;
            padding-right: 5px;
            padding-top: 3px;
            padding-bottom: 3px;
            border-radius: 2px;
        }
        .title-img{
            position:relative;
        }
        
        .notification-icon{
            position: relative;
        }
        .notification-count{
            position:absolute;
            background-color: rgb(225, 4, 4);
            top:-5px;
            right:-5px;
            font-size: 11px;
            font-family: Arial;
            color:white;
            border-radius: 12px;
            padding-right: 5px;
            padding-left: 5px;
            padding-top: 2px;
            padding-bottom: 2px;
            font-weight: bold;
            
        }
        .side-bar{
            position: fixed;
            width:85px;
            left:0;
            bottom:0;
            top:56px;
            background-color: white;
            z-index: 200;
            padding-top:5px;
            cursor: pointer;
            

        }
        .side-bar-link{
            
            height:88px;
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
    
        }

        
        .side-bar-link img{
            height:28px;
        }

        .side-bar-link div{
            font-family: Arial;
            font-size: 12px;
            margin-top:8px;

        }
        .side-bar-link:hover{
            background-color: rgb(242, 239, 239);
        }

        @media (max-width:750px) {
            .video-grid {
                grid-template-columns: 1fr 1fr;
            }
        }
        @media (min-width:751px)and (max-width:999px) {
            .video-grid {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        @media (min-width:1000px) {
            .video-grid {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }        
        
    

         
        